.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  transform: translateX(100%);
  transition: all 0.2s;
  z-index: 0;
}



.blur {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menu_content {
  position: absolute;
  padding-top: 90px;
  width: 250px;
  height: 500px;
  top: 0;
  right: 0;
  background-color: #3a2113 !important;
  transition: all 0.4s;
}

.menu_logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.menu_img {
  margin-right: 9px;
}

.menu_title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #ff4b32;
}

.menu_navigation {
  display: flex;
  justify-content: center;
}

.menu_list {
  padding: 0;
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 29px;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

.menu_item {
  padding: 0 0 15px 0;
  cursor: pointer;
}
.header_link {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.icons_link {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  opacity: 1;
  fill: #fff;
}

.menu_item:first-child {
  margin-left: 0px;
}

.menu_item:hover {
  font-weight: 700;
  color: #ff4b32;
  opacity: 1;
}
